conda.enabled = true

params {
    analysis_name = "test001"
    input_fastq = null
    min_read_len = 1000
    threads =16
    reference = null
    out_dir = "/home/a/big/ycq/analysis_out"
    kraken_database = "/home/a/big/ycq/db/kraken_database"
    software_dir = "/home/a/big/ycq/softwares"
    conda_path = "/home/a/anaconda3/envs"
    iter = 3
    prokka_opts = null

}

trace {
    enabled = true
    file = "assembly.txt"
    fields = "task_id,hash,process,workdir,name,tag,script,status,exit,submit,realtime,%cpu,rss"
    overwrite = true
}
